In [3]:
import pandas as pd

In [39]:
bike_sharing = pd.read_csv("C:/bike-sharing-project/seoul-bike-sharing-data.csv", encoding='cp949') # Korean encoding
bike_sharing.head()

,Date,Rented Bike Count,Hour,Temperature(캜),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(캜),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [40]:
# Create DateTime column, drop Date and Hour columns
bike_sharing['DateTime'] = pd.to_datetime(
    bike_sharing['Date'] + ' ' + bike_sharing['Hour'].astype(str),
    format='%d/%m/%Y %H'
)
bike_sharing.drop(columns=['Date', 'Hour'], inplace=True)
bike_sharing.set_index('DateTime', inplace=True)

In [41]:
# Rename columns for easier access
bike_sharing.rename(columns={
    'Rented Bike Count': 'rented_bike_ct',
    'Temperature(캜)': 'temp',
    'Humidity(%)': 'humidity', 
    'Wind speed (m/s)': 'wind_speed',
    'Visibility (10m)': 'visibility',
    'Dew point temperature(캜)': 'dew_point_temp',
    'Solar Radiation (MJ/m2)': 'solar_radiation',
    'Rainfall(mm)': 'rainfall',
    'Snowfall (cm)': 'snowfall',
    'Seasons': 'season',
    'Holiday': 'holiday',
    'Functioning Day': 'funct_day'
}, inplace=True)

In [42]:
bike_sharing.info()
# Change object types to strings 
bike_sharing['season'] = bike_sharing['season'].astype(str)
bike_sharing['holiday'] = bike_sharing['holiday'].astype(str)
bike_sharing['funct_day'] = bike_sharing['funct_day'].astype(str)

# There's no missing data, and all columns are numeric except for 'season', 'holiday', and 'funct_day'

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2017-12-01 00:00:00 to 2018-11-30 23:00:00
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rented_bike_ct   8760 non-null   int64
 1   temp             8760 non-null   float64
 2   humidity         8760 non-null   int64
 3   wind_speed       8760 non-null   float64
 4   visibility       8760 non-null   int64
 5   dew_point_temp   8760 non-null   float64
 6   solar_radiation  8760 non-null   float64
 7   rainfall         8760 non-null   float64
 8   snowfall         8760 non-null   float64
 9   season           8760 non-null   object
 10  holiday          8760 non-null   object
 11  funct_day        8760 non-null   object
dtypes: float64(6), int64(3), object(3)
memory usage: 889.7+ KB

In [ ]:
# Manipulate season, holiday, and funct_day columns 

# Should we convert temp, humidity, wind_speed and dew_point_temp to U.S. metrics?

,rented_bike_ct,temp,humidity,wind_speed,visibility,dew_point_temp,solar_radiation,rainfall,snowfall,season,holiday,funct_day
DateTime,,,,,,,,,,,,
2017-12-01 00:00:00,254,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,NaN,No Holiday,Yes
2017-12-01 01:00:00,204,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,NaN,No Holiday,Yes
2017-12-01 02:00:00,173,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,NaN,No Holiday,Yes
2017-12-01 03:00:00,107,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,NaN,No Holiday,Yes
2017-12-01 04:00:00,78,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,NaN,No Holiday,Yes